body {
	background-color: #F5F5F5;
	font-family: 'Barlow', sans-serif;
}

.common-main-section-indent,
.section_slider,
.footer-main {
	margin-top: 120px;
}

header {
	background-color: #FFFFFF;
}

.container {
    width: 100%;
    max-width: 1170px;
    overflow: hidden;
	margin: 0 auto;
}

.header_wrap {
	height: 100px;
	margin-bottom: 84px;
}

.fl {
	float: left;
}

.header-logo {
	width: 55px;
	padding-top: 35px;
	margin-right: 313px;
}

.header_nav-list {
	padding-top: 38px;
}

.header_nav-list li {
	float: left;
}

.header_nav-list li a {
    color: #808080;
    font-size: 20px;
    line-height: 24px;
	padding-right: 40px;
}

.header_nav-list li:last-of-type a {
	padding-right: 0px;
}

.login_buttons {
	padding-top: 20px;
}

.float-right {
	float: right;
}

.login_buttons button:nth-child(1) {
	background-color: #FFFFFF;
	font-size: 20px;
	line-height: 24px;
	color: #808080;
	padding-right: 30px;
}

.login_buttons button:nth-child(2) {
	background-color: #E61C5D;
	border-radius: 45px;
	padding: 18px 24px;
	color: #FFFFFF;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
}

.section_search-left {
	float: left;
}

.section_search-left h1 {
	font-weight: 700;
	font-size: 64px;
	color: #112B3C;
	margin-bottom: 32px;
	width: 568px;
}

.section_search-left p:nth-child(2) {
	color: #808080;
	font-size: 24px;
	line-height: 29px;
	margin-bottom: 32px;
	width: 469px;
}

.form-wrap {
	width: 469px;
	height: 80px;
	background: #FFFFFF;
	box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.04);
	border-radius: 58px;
	overflow: hidden;
}

.form-wrap form {
	padding: 16px 27px;
}

.form-wrap form label {
	color: #808080;
	font-weight: 600;
	font-size: 12px;
	line-height: 14px;
	padding-bottom: 6px;
}

.location-option {
	padding-right: 64px;
}

.date-option p,
.location-option p {
	font-weight: 700;
	font-size: 12px;
	line-height: 14px;
	color: #112B3C;
}

.form-wrap button {
	background-color: #FFFFFF;
}

.section-image-right img{
	float: right;
	margin-left: 130px;
}

.section_about-image-left img {
	margin-right: 130px;
}

.section-title {
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	text-transform: uppercase;
	color: #E61C5D;
	margin-bottom: 4px;
}

.company-goals p:nth-child(2) {
	font-weight: 700;
	font-size: 48px;
	line-height: 58px;
	color: #112B3C;
	margin-bottom: 24px;
	width: 469px;
}

.company-goals p:nth-child(3) {
	font-size: 20px;
	line-height: 30px;
	color: #808080;
	margin-bottom: 24px;
	width: 442px;
}

.company_details div {
	float: left;
	width: 100px;
	padding-right: 24px;
}

.company_details div:last-of-type {
	padding-right: 0px;
}

.company_details span {
	font-weight: 700;
	font-size: 40px;
	line-height: 48px;
	color: #E61C5D;
}

.company_details p {
	font-size: 16px;
	line-height: 19px;
	color: #808080;
}

.section_slider {
	margin-left: 135px;
}

.section_tour-packages p {
	margin-bottom: 80px;
	font-weight: 700;
	font-size: 48px;
	line-height: 58px;
	color: #112B3C;
	width: 591px;
}

.section_reviews h2 {
	text-align: center;
}

.section_reviews p:nth-child(2) {
	font-weight: 700;
	font-size: 48px;
	line-height: 58px;
	margin-bottom: 80px;
	text-align: center;
}

.reviews-slider {
	width: 970px;
	margin: 0 auto;
}

article img {
	padding-bottom: 12px;
}

.user-photo {
	padding-top: 46px;
}

.reviews-slider article {
	width: 300px;
	float: left;
	background: #FFFFFF;
	border: 1px solid #FAFAFA;
	box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.04);
	border-radius: 16px;
	margin-right: 32px;
	text-align: center;
}

.reviews-slider article:last-of-type {
	margin-right: 0px;
}

.reviews-slider article h3 {
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	color: #112B3C;
}

.user-rev {
	padding: 0px 42px 20px 41px;
}

article .common-professions {
	padding-bottom: 4px;
}

article .user-rev, 
.common-professions {
	font-size: 14px;
	line-height: 17px;
	color: #112B3C;
}

.section_tours h2 {
	font-weight: 700;
	font-size: 48px;
	line-height: 58px;
	text-align: center;
}

.section_tours-text {
	margin-top: 32px;
	font-size: 18px;
	line-height: 22px;
	color: #808080;
	text-align: center;
}

.section_tours button {
	margin-top: 32px;
	background-color: #E61C5D;
	border-radius: 45px;
	padding: 18px 24px;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
}

.section_tours button {
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
}

.places-items div {
	float: left;
}

.with-margin {
	margin-right: 94px;
}

.tour-price {
	font-weight: 700;
	font-size: 20px;
	color: #E61C5D;
	padding-right: 13px;
}

.tour-option {
	filter: drop-shadow(0px 12px 40px rgba(0, 0, 0, 0.04));
	background: #FFFFFF;
	border-radius: 16px;
	padding: 8px;
}

.tour-option img {
	padding-bottom: 13px;
}

.tour-option h3 {
	font-weight: 700;
	font-size: 18px;
	color: #112B3C;
	padding-bottom: 9px;
}

.tour-option p {
	font-weight: 500;
	font-size: 14px;
	color: #808080;
	padding-bottom: 21px;
}

.tour-price-middle {
	font-weight: 700;
	font-size: 16px;
	color: #E61C5D;
	padding-right: 13px;
}

.tour-option-middle {
	filter: drop-shadow(0px 12px 40px rgba(0, 0, 0, 0.04));
	background: #FFFFFF;
	border-radius: 16px;
	margin-top: 113px;
	padding: 7px 7px 0px 7px;
}

.tour-option-middle img {
	padding-bottom: 12px;
}

.tour-option-middle h3 {
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	color: #112B3C;
	padding-bottom: 7px;
}

.tour-option-middle p {
	font-weight: 500;
	font-size: 10px;
	color: #808080;
	padding-bottom: 11px;
}

.footer-container {
	margin-bottom: 119px;
}

.footer_contacts{ 
	margin-right: 100px;
}

.footer-about {
	margin-right: 146px;
}

.footer-main h4 {
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	color: #112B3C;
	padding-bottom: 18px;
}

.footer-nav li {
	padding-bottom: 18px;
}

.footer-company,
.footer-support {
	margin-right: 108px;
}

.footer_navigation a {
	font-size: 14px;
	line-height: 17px;
	color: #112B3C;
}

.footer_contacts address, .newsletter label{
	font-size: 14px;
	line-height: 14px;
	color: #112B3C;
}

.footer_contacts img,
.footer_contacts address {
	margin-bottom: 18px;
}

.newsletter p {
	font-size: 14px;
	line-height: 16px;
	color: #112B3C;
	margin-bottom: 18px;
	width: 207px;
}

.newsletter input {
	font-size: 12px;
	color: #808080;
	border: none;
	background: #FFFFFF;
	box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.04);
	border-radius: 55px;
	line-height: 16px;
	padding-top: 17px;
	padding-bottom: 17px;
	padding-left: 19px;
	padding-right: 82px;
}

