body {
	background-color: #FDFDFD;
	font-family: 'Barlow', sans-serif;
}

.common-main-section-indent,
.footer-main {
	margin-top: 120px;
}

header {
	background-color: #FFFFFF;
}

.container {
    width: 100%;
    max-width: 1170px;
	margin: 0 auto;
}

.header_wrap {
	height: 100px;
	margin-bottom: 84px;
}

.nav-button {
	display: none;
}

.header-logo {
	width: 55px;
	padding-top: 35px;
	margin-right: 313px;
}

.header_nav {
	display: flex;
}

.header_nav-list {
	padding-top: 38px;
	margin-right: 106px;
}

.nav-list {
	display: flex;
	column-gap: 40px;
}

.header_nav-list li a {
	position: relative;
    color: #808080;
    font-size: 20px;
    line-height: 24px;
}

.header_nav-list li:last-of-type a {
	padding-right: 0px;
}

.header_nav-list li a:hover {
	color: #000000;
	text-shadow: 1px 0 0 black;
}

.header_nav-list li a:after {
	content: '';
	display: none;
	position: absolute;
	width: 18px;
	height: 4px;
	left: 50%;
	transform: translate(-50%, 0);
	top: 30px;
	background: #E61C5D;
	border-radius: 30px;
}

.header_nav-list li a:hover:after {
	display: block;
}

.login_buttons {
	padding-top: 20px;
}

.login_buttons button:nth-child(1) {
	background-color: #FFFFFF;
	font-size: 20px;
	line-height: 24px;
	color: #808080;
	padding-right: 29px;
}

.login_buttons button:nth-child(2) {
	background-color: #E61C5D;
	border-radius: 45px;
	padding: 18px 24px;
	color: #FFFFFF;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
}

.section_search {
	display: flex;
}

.section_search-left {
	display: flex;
	flex-direction: column;
}

.section_search-left .main-heading{
	font-weight: 700;
	font-size: 64px;
	color: #112B3C;
	margin-bottom: 32px;
	max-width: 568px;
}

.section_search-paragtaph {
	color: #808080;
	font-size: 24px;
	line-height: 29px;
	margin-bottom: 32px;
	max-width: 469px;
}

.form-wrap {
	display: flex;
	align-items: center;
	max-width: 469px;
	background: #FFFFFF;
	box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.04);
	border-radius: 58px;
	padding: 15px 0;
}

.location-option {
	display: flex;
	flex-direction: column;
	position: relative;
	padding-right: 32px;
	padding-left: 65px;
}

.location-option-dropdown,
.date-option-dropdown {
	font-weight: 600;
	font-size: 12px;
	line-height: 14px;
	color: #808080;
}

.date-option-list,
.location-option-list {
	font-weight: 700;
	font-size: 12px;
	line-height: 14px;
	color: #112B3C;
}

.location-option:after {
	content: '';
	position: absolute;
	width: 1px;
	height: 24px;
	background-color: #808080;
	opacity: 0.24;
	left: 100%;
	top: 50%;
    transform: translate(0, -50%);
}

.date-option {
	display: flex;
	flex-direction: column;
	position: relative;
	padding-right: 32px;
	padding-left: 70px;
}

.date-option:before {
	content: '';
	background-image: url('../icon-img/calendar-2.svg');
	background-repeat: no-repeat;
	position: absolute;
	top: 3px;
    left: 0;
	width: 22px;
	height: 22px;
	margin-left: 32px
}

.location-option:before {
	content: '';
	background-image: url('../icon-img/location.svg');
	background-repeat: no-repeat;
	position: absolute;
	top: 3px;
    left: 0;
	width: 22px;
	height: 22px;
	margin-left: 27px
}

.form-wrap button {
	background-color: #FFFFFF;
}

.section-image-right {
	margin-left: 130px;
}

.section_about {
	display: flex;
}

.section_about-image-left {
	margin-right: 130px;
}

.section-title {
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	text-transform: uppercase;
	color: #E61C5D;
	margin-bottom: 4px;
}

.company-goals p:nth-child(2) {
	font-weight: 700;
	font-size: 48px;
	line-height: 58px;
	color: #112B3C;
	margin-bottom: 24px;
	width: 469px;
}

.company-goals p:nth-child(3) {
	font-size: 20px;
	line-height: 30px;
	color: #808080;
	margin-bottom: 24px;
	width: 442px;
}

.company_details {
	display: flex;
}

.company_details div {
	width: 100px;
	padding-right: 24px;
}

.company_details div:last-of-type {
	padding-right: 0px;
}

.company_details span {
	font-weight: 700;
	font-size: 40px;
	line-height: 48px;
	color: #E61C5D;
}

.company_details p {
	font-size: 16px;
	line-height: 19px;
	color: #808080;
}

.section_slider {
	margin-left: 135px;
	margin-top: 120px;
}

.section_tour-packages p {
	margin-bottom: 80px;
	font-weight: 700;
	font-size: 48px;
	line-height: 58px;
	color: #112B3C;
	width: 591px;
}

.places_slider {
	min-width: 0;
	position: relative;
}

.places_slider .slick-arrow {
	position: absolute;
	bottom: 125%;
	font-size: 0;
}

.places_slider__items .items-images {
	width: 100%;
}

.items-description {
	width: 320px;
	padding: 20px 24px 30px;
}

.items-description h3 {
	font-weight: 700;
	font-size: 20px;
	line-height: 26px;
	color: #112B3C;
	padding-bottom: 8px;
}

.items-description .slider_country-name {
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #112B3C;
	padding-bottom: 8px;
}

.items-description .places_slider-rating {
	background-color: rgba(255, 189, 57, 0.12);
	border-radius: 38px;
	padding: 4px 6px;
	margin-bottom: 8px;
}

.slider_info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.slider_info .slider_info_price {
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
	color: #E61C5D;
	padding-bottom: 8px;
}

.slider_info .slider_info_days {
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;
	color: #808080;
}

.slick-arrow.slick-prev {
	left: 90%;
	margin-left: -12px;
	background: url('../icon-img/arrow-left.svg') center no-repeat;
	width: 48px;
	height: 48px;
	background-color: #F5F5F5;
	border-radius: 50%;
}

.slick-arrow.slick-next {
	right: 20px;
	background: url('../icon-img/arrow-right.svg') center no-repeat;
	background-color: #F5F5F5;
	width: 48px;
	height: 48px;
	background-color: #F5F5F5;
	border-radius: 50%;
}

.places_slider .slick-dots {
	display: flex;
	align-items: center;
	justify-content: center;
}

.places_slider .slick-dots li {
	list-style: none;
	margin: 0px 10px;
}

.places_slider .slick-dots li.slick-active button {
	border: 1px solid black;
	background-color: transparent;
}

.slick-dots button {
	font-size: 0;
	width: 10px;
	height: 10px;
	background-color: rgba(48, 45, 40, 0.12);
	border-radius: 50%;
}

.slick-slide:not(:last-child) {
	margin: 0 15px 0 0;
	background-color: #FFFFFF;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	border-radius: 16px;
	min-height: 500px;
}

.slick-list {
	overflow: hidden;
	height: 527px;
}

.places_slider-rating {
	width: 37px;
	height: 17px;
}

.slick-track{
	display: flex;
	margin: 0 -15px 0 0;
}

.section_reviews h2 {
	text-align: center;
}

.section_reviews p:nth-child(2) {
	font-weight: 700;
	font-size: 48px;
	line-height: 58px;
	margin-bottom: 80px;
	text-align: center;
}

.section_reviews p:nth-child(2) span{
	display: block;
}

.reviews-slider {
	display: flex;
	flex-wrap: wrap;
	max-width: 970px;
	margin: 0 auto;
	column-gap: 32px;
    row-gap: 60px;
}

article img {
	padding-bottom: 12px;
}

.user-photo {
	padding-top: 46px;
}

.reviews-slider article {
	min-width: 300px;
	/* min-height: 350px; */
	background: #FFFFFF;
	border: 1px solid #FAFAFA;
	box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.04);
	border-radius: 16px;
	text-align: center;
	flex: 1 1 0;
}

.reviews-slider article:last-of-type {
	margin-right: 0px;
}

.reviews-slider article h3 {
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	color: #112B3C;
}

.user-rev {
	padding: 0px 42px 20px 41px;
}

article .common-professions {
	padding-bottom: 4px;
}

article .user-rev, 
.common-professions {
	font-size: 14px;
	line-height: 17px;
	color: #112B3C;
}

.section_tours {
	display: flex;
	flex-direction: column;
}

.section_tours_inner {
	position: relative;
	top: 38px;
	left: 0;
}

.section_tours_inner h2 {
	font-weight: 700;
	font-size: 48px;
	line-height: 58px;
	text-align: center;
}

.section_tours_inner h2 span {
	display: block;
}

.section_tours-text {
	margin-top: 32px;
	font-size: 18px;
	line-height: 22px;
	color: #808080;
	text-align: center;
}

.section_tours_inner button {
	margin-top: 32px;
	background-color: #E61C5D;
	border-radius: 45px;
	padding: 18px 24px;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
}

.section_tours button {
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
}

.places-items {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.tour-price {
	font-weight: 700;
	font-size: 20px;
	color: #E61C5D;
	padding-right: 13px;
}

.tour-option {
	filter: drop-shadow(0px 12px 40px rgba(0, 0, 0, 0.04));
	background: #FFFFFF;
	border-radius: 16px;
	padding: 8px;
	max-height: 290px;
	display: flex;
	flex-direction: column;
}

.tour-option img {
	padding-bottom: 13px;
}

.tour-option h3 {
	font-weight: 700;
	font-size: 18px;
	color: #112B3C;
	padding-bottom: 9px;
}

.tour-option p {
	font-weight: 500;
	font-size: 14px;
	color: #808080;
}

.tour-option-middle {
	filter: drop-shadow(0px 12px 40px rgba(0, 0, 0, 0.04));
	background: #FFFFFF;
	border-radius: 16px;
	margin-top: 120px;
	padding: 7px 7px 11px 7px;
	display: flex;
	flex-direction: column;
	min-width: 190px;
}

.tour-option-middle img {
	padding-bottom: 12px;
}

.tour-option-middle h3 {
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	color: #112B3C;
	padding-bottom: 7px;
}

.tour-option-middle p {
	font-weight: 500;
	font-size: 10px;
	color: #808080;
}

.tour-price-middle {
	font-weight: 700;
	font-size: 16px;
	color: #E61C5D;
	padding-right: 13px;
}

.footer-container {
	margin-bottom: 119px;
}

.footer-main {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.footer-main h4 {
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	color: #112B3C;
	padding-bottom: 18px;
}

.footer-nav li {
	padding-bottom: 18px;
}

.footer_navigation a {
	font-size: 14px;
	line-height: 17px;
	color: #112B3C;
}

.footer_contacts address,
.newsletter label {
	font-size: 14px;
	line-height: 14px;
	color: #112B3C;
}

.footer_contacts img,
.footer_contacts address {
	margin-bottom: 18px;
}

.newsletter p {
	font-size: 14px;
	line-height: 16px;
	color: #112B3C;
	margin-bottom: 18px;
	width: 207px;
}

.newsletter form {
	position: relative;
}

.newsletter input {
	font-size: 12px;
	color: #808080;
	border: none;
	background: #FFFFFF;
	box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.04);
	border-radius: 55px;
	line-height: 16px;
	padding-top: 17px;
	padding-bottom: 17px;
	padding-left: 19px;
	padding-right: 82px;
}

.newsletter form button {
	position: absolute;
	left: 85%;
	top: 50%;
    transform: translate(0, -50%);
}

