body {
	background-color: #F5F5F5;
}

.header_nav,
.section_search,
.common-main-section-indent,
.section_slider,
.footer-main  {
	font-family: 'Barlow', sans-serif;
}

.header_nav,
.section_search,
.common-main-section-indent,
.footer-main {
	padding: 0 135px;
}

.common-main-section-indent,
.section_slider,
.footer-main {
	margin-top: 120px;
}

.container {
    width: 100%;
    /* max-width: 1440px; */
    overflow: auto;
	margin: 0 auto;
	background-color: #FFFFFF;
	height: 100px;
}

.header-logo {
	width: 55px;
	padding-top: 35px;
}

.float-left {
	float: left;
}

.header_nav-list {
	margin-left: 313px;
	margin-right: 146px;
	padding-top: 38px;
	padding-bottom: 38px;
}

.header_nav-list li {
	float: left;
}


.header_nav-list li a {
    color: #808080;
    font-size: 20px;
    line-height: 24px;
	padding-right: 40px;
}

.login_buttons {
	padding-top: 20px;
}

.float-right {
	float: right;
}

.login_buttons button:nth-child(1) {
	border: none;
	background-color: #FFFFFF;
	font-size: 20px;
	line-height: 24px;
	color: #808080;
	padding-right: 30px;
}

.login_buttons button:nth-child(2) {
	background-color: #E61C5D;
	border-radius: 45px;
	padding: 18px 24px;
	border: none;
	color: #FFFFFF;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
}

.section_search {
	margin-top: 84px;
	overflow: auto;
	/* max-width: 1145px; */
}

.section_search-left {
	float: left;
}

.section-image-right img{
	float: right;
	margin-left: 130px;
}

.section_search-left p {
	color: #808080;
	font-size: 24px;
	line-height: 29px;
	margin-bottom: 32px;
}

.section_search-left h1 {
	font-weight: 700;
	font-size: 64px;
	color: #112B3C;
	margin-bottom: 32px;
	white-space: pre-wrap;
}

.section_search-left form label {
	color: #808080;
	font-weight: 600;
	font-size: 12px;
	line-height: 14px;
}

.company-goals p:nth-child(2) {
	font-weight: 700;
	font-size: 48px;
	line-height: 58px;
	color: #112B3C;
	margin-bottom: 24px;
}
.company-goals p:nth-child(3) {
	font-size: 20px;
	color: #808080;
	margin-bottom: 24px;
}

.company_details span {
	font-weight: 700;
	font-size: 40px;
	line-height: 48px;
	color: #E61C5D;
}

.company_details p {
	font-size: 16px;
	line-height: 19px;
	color: #808080;
}

.section-title {
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	text-transform: uppercase;
	color: #E61C5D;
	margin-bottom: 4px;
}

.section_slider {
	margin-left: 135px;
}

.section_tour-packages {
	margin-bottom: 80px;
	font-weight: 700;
	font-size: 48px;
	line-height: 58px;
	color: #112B3C;
}

.section_reviews p:nth-child(2){
	font-weight: 700;
	font-size: 48px;
	line-height: 58px;
}

.reviews-slider article h3 {
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	color: #112B3C;
}

article .user-rev, 
.common-professions {
	font-size: 14px;
	line-height: 17px;
	color: #112B3C;
}

.section_tours h2 {
	font-weight: 700;
	font-size: 48px;
	line-height: 58px;
	text-align: center;
}

.section_tours p {
	margin-top: 32px;
	font-size: 18px;
	line-height: 22px;
	color: #808080;
}

.section_tours button {
	margin-top: 32px;
	width: 156px;
	height: 60px;
	background-color: #E61C5D;
	border: none;
	border-radius: 45px;
	padding: 18px 24px;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
}

.tour-price {
	font-weight: 700;
	font-size: 20px;
	color: #E61C5D;
}

.tour-option h3 {
	font-weight: 700;
	font-size: 18px;
	color: #112B3C;
}

.tour-option p {
	font-weight: 500;
	font-size: 14px;
	color: #808080;
}

.tour-price-middle {
	font-weight: 700;
	font-size: 16px;
	color: #E61C5D;
}

.tour-option-middle h3 {
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	color: #112B3C;
}

.tour-option-middle p {
	font-weight: 500;
	font-size: 10px;
	color: #808080;
}

.footer-container {
	margin: 0 auto;
	overflow: auto;
	margin-bottom: 119px;
}

.footer_contacts{ 
	margin-right: 100px;
}

.footer-about {
	margin-right: 146px;
}

.footer-main h4 {
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	color: #112B3C;
	padding-bottom: 18px;
}

.footer-nav li {
	padding-bottom: 18px;
}

.footer-company,
.footer-support {
	margin-right: 108px;
}

.footer_navigation a {
	font-size: 14px;
	line-height: 17px;
	color: #112B3C;
}

.footer_contacts address, .newsletter label{
	font-size: 14px;
	line-height: 14px;
	color: #112B3C;
}

.footer_contacts img,
.footer_contacts address {
	margin-bottom: 18px;
}

.newsletter input {
	font-size: 12px;
	color: #808080;
}

